<h1>ADMIN: <%= @store.name %></h1>

<div class="row">
  <div class="col-sm-6">
    <!-- Edit Store -->
    <form class="form-inline form-group" action="/stores/<%= @store.id %>" method="post">
      <div class="input-group">
        <input type="text" name="store_name" class="form-control" value="<%= @store.name %>">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit" name="_method" value="patch">Update Name</button>
        </span>
      </div><!-- /input-group -->
    </form>

    <!-- Delete Store -->
    <form class="form-inline form-group" action="/stores/<%= @store.id %>" method="post">
      <div class="input-group">
        <button class="btn btn-danger" type="submit" name="_method" value="delete">Delete Store</button>
      </div><!-- /input-group -->
    </form>
  </div>
</div>

<div class="row">
  <!-- Brand List -->
  <div class="col-sm-6 store-brand-list">
    <% if @store_brands.any? %>
      <h5>Brands carried by this store:</h5>
      <ul class="nav nav-pills nav-stacked">
        <% @store_brands.each do |brand| %>
          <li><a href="/brands/<%= brand.id %>/edit"><%= brand.name %></a></li>
        <% end %>
      </ul>
    <% else %>
      <h5>No brands currently carried.</h5>
    <% end %>
  </div>

  <!-- Add Brand List -->
  <div class="col-sm-6 add-brand-list">
    <% if @add_brands.any? %>
    <h5>Click to add brands to this store:</h5>
      <ul class="nav nav-pills nav-stacked">
        <% @add_brands.each do |brand| %>
          <li>
            <form action="/stores/<%= @store.id %>/brands" method="post">
              <input hidden name="brand_id" value="<%= brand.id %>">
              <button type="submit" class="btn btn-sm btn-default">Add <%= brand.name %></button>
            </form>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h5>No brands to add.</h5>
      <h5>Go to <a href="/admin">Admin Page</a> to add more brands.</h5>
    <% end %>
  </div>
</div>
